version: "3.8"

services:
  front:
    image: ${DOCKER_USERNAME}/sns-frontend:latest
    container_name: sns-front
    ports:
      - "3000:3000"
    env_file:
      - front/.env.prod

  back:
    image: ${DOCKER_USERNAME}/sns-backend:latest
    container_name: sns-backend
    ports:
      - "8080:8080"
    env_file:
      - backend/.env.prod
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: sns-mysql
    env_file:
      - backend/.env.prod
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
