services:
  back:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: sns-back:1.0
    container_name: sns-backend-dev
    restart: on-failure
    env_file:
      - .env.dev
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: sns-mysql-dev
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 60s

  redis:
    image: redis:7-alpine
    container_name: sns-redis-dev
    command: sh -lc 'redis-server --requirepass "$$SPRING_REDIS_PASSWORD"'
    ports:
      - "6379:6379"
    env_file:
      - .env.dev
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a \"$$SPRING_REDIS_PASSWORD\" ping | grep PONG" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

